<div
  [style.background-image]="backgroundImg"
  class="skeleton proyect__banner no-sticker"
></div>

<section class="proyect">
  <div class="proyect__child no-sticker">
    <h3 class="proyect__title no-sticker">{{ proyect.name }}</h3>
    <h3 class="proyect__client no-sticker">{{ proyect.client }}</h3>
  </div>

  <div class="proyect__child no-sticker">
    <h4 class="proyect__subtitle no-sticker">{{ proyect.categorie }}</h4>
    <p class="proyect__description no-sticker">{{ proyect.description }}</p>
    <p
      class="proyect__description no-sticker"
      [innerHTML]="proyect.content"
    ></p>
    <a
      class="proyect__web no-sticker link"
      target="_blank"
      href="{{ proyect.web }}"
    >
      Visitar proyecto
    </a>
  </div>
</section>

<section class="gallery">
  <img
    *ngFor="let image of this.gallery; let i = index"
    class="gallery__img"
    src="{{ image }}"
    alt="isio_{{ i }}"
  />
</section>
