
<div  class="side-bar" *ngIf="this.isOpen">
  <div class="side-bar__close"> <mat-icon class="side-bar__ico" (click)="this.Close()"    aria-hidden="false">close</mat-icon>
  </div>
  <div class="side-bar__relative">
    <div class="side-bar__list">
      <a class="side-bar__list-item" href="#">Clientes</a>
      <a class="side-bar__list-item" href="#">Sobre mi</a>
      <a class="side-bar__list-item" href="#">Blog</a>
      <a class="side-bar__list-item" href="#">Contacto</a>
    </div>
  </div>
</div>
