<div class="contact">
  <div class="contact__child">
    <h1 class="contact__big">
      <app-title [title]="title"></app-title>
    </h1>
    <div class="mt-5">
    <h1 class="contact__big">
      <a class="link" href="mailto:info@enriqueteruel.com">info@enriqueteruel.com</a>
    </h1>
    <h1 class="contact__big">
      <a class="link" href="tel:+34639880551">+34 639880551</a>
    </h1>
    <h1 class="contact__big">9:00–5:00p.m. CEST</h1>
  </div>
  <!--
    stepper
  <app-steper [StepConfig]="steps"></app-steper>
   -->
  </div>
</div>
