<nav class="nav">
  <div class="container_nav">
    <div class="nav__logo">
      <img
        class="nav__logo-img invert"
        src="../../../../assets/img/header/enrique-teruel-logo.png"
        alt=""
      />
    </div>

    <div class="">
      <div class="nav__list">
        <a class="nav__list-item" routerLink="/casos" routerLinkActive="router-link-active" >Casos</a>
        <a class="nav__list-item" routerLink="/sobre-mi" routerLinkActive="router-link-active" >Sobre mi</a>
        <a class="nav__list-item" routerLink="/blog" routerLinkActive="router-link-active" >Blog</a>
        <a class="nav__list-item" routerLink="/contacto" routerLinkActive="router-link-active" >Contacto</a>
      </div>

      <div class="nav__burger">
        <a
          ><svg  fill="white" viewBox="0 0 100 80" width="25" height="25">
            <rect width="100" height="8"></rect>
            <rect y="30" width="100" height="8"></rect>
            <rect y="60" width="100" height="8"></rect>
          </svg>
        </a>
      </div>
    </div>
  </div>
</nav>
