/* You can add global styles to this file, and also import other style files */
@import "./responsive";
@import "./custom-font";
@import "./utils";

:root {
  --main-font: "Roobert";
  --grey-color: rgba(252, 252, 252, 0.394);
  --black-color: black;
  --white-color: white;
  --global-padding-xl: 5vh 10vh;
  --global-padding-xs: 5vh 5vh;
}

::selection {
  background: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.subtitle {
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 100;
  line-height: 1.2em;

  @include small {
    font-size: 30px;
  }

  @include medium {
    font-size: 50px;
  }

  @include large {
    font-size: 60px;
  }

  &--black {
    color: black;
  }
  &--white {
    color: white;
  }
}
