@import "/src/styles/responsive";
@import "/src/styles/utils";

.title {
  padding: 0 10vw 5vh;
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2em;

  @include medium {
    font-size: 80px;
  }

  @include large {
    font-size: 120px;
  }
}
