@import "/src/styles/responsive";
@import "/src/styles/utils";

.title {
  padding: 50px 0;
  font-family: var(--main-font);
  font-size: 35px;
  font-weight: 300;
  line-height: 1em;
  max-width: 1440px;

  @include medium {
    font-size: 100px;
  }

  @include large {
    padding: 80px 0;
    font-size: 120px;
  }
}
