<div class="footer">
  <div class="footer__col1">
    <img
    style=" height: 30px"
      class="invert"
      src="../../../../assets/img/header/enrique-teruel-logo.png"
      alt=""
    />
    <p class="footer__col-item">
      Consultor en Branding, estrategia y digitalización enfocada a empresas
      innovadoras.
    </p>
  </div>
  <div class="footer__col2">
    <p>Socio de:</p>
    <img
      class="footer__col-item"
      src="../../../../assets/img/footer/dip.png"
      alt=""
    />
  </div>
  <div class="footer__col3">
    <mat-icon class="footer__col-item" aria-hidden="false">facebook</mat-icon>
    <mat-icon class="footer__col-item" aria-hidden="false">isntagram </mat-icon>
    <mat-icon class="footer__col-item" aria-hidden="false">mail</mat-icon>
  </div>
</div>
