<div
  class="emojis-mad noselect"
  (click)="doMagic()"
  ng-keypress="keyPress($event)"
  (mousemove)="mouseMoved($event)"
>
  <span class="toast fadeIn animated" *ngIf="this.MSG_ALERT.length">
    {{ this.MSG_ALERT }}</span
  >
  <span
    class="emoji noselect tada animated"
    [ngStyle]="{
      position: 'absolute',
      top: stamp.y + 'px',
      left: stamp.x + 'px',
      height: '50px'
    }"
    *ngFor="let stamp of stamps"
    >{{ stamp.emoji }}</span
  >
  <ng-content #emois panel></ng-content>
</div>
