.emojis-mad {
  z-index: 10000 !important;
  height: auto;
}

.toast{
  font-family: var(--main-font);
  position: fixed;
  background-color: black;
  color: white;
  padding: 20px;
  bottom: 0px;
  left: auto;
}


.emoji {
  font-size: 120px;
  line-height: 2;
}

.animated {
  -webkit-animation-duration: 5s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.tada {
  animation-name: tada;
  -webkit-animation-name: tada;
}

.fadeIn{
 animation-name: fadeIn;
-webkit-animation-name: fadeIn;

}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


@keyframes fadeIn{
  0%{
    opacity: 0;
  }

  100%{
opacity: 100;
  }
}

@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
