@import "/src/styles/responsive";
@import "/src/styles/utils";

.big-wrapper {
  position: relative;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow-y: visible;
  padding: var(--global-padding-xs);
  &__img {
    display: flex;
    justify-content: start;
    align-items: flex-start;

    img {
      width: 100%;
      padding: var(--global-padding-xs);
    }
  }

  @include medium {
    height: 140vh;
    img {
      width: 80%;
    }
  }

  @include large {
    justify-content: space-between;
    padding: var(--global-padding-xl);

    img {
      width: 50%;
    }
    height: auto;
  }

  &--black {
    background-color: black;
  }
}

.t-cols {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  width: 100%;
  gap: 5vw;

  &__parraf {
    margin: 50px 0;
    padding: 0 15%;

    p {
      font-family: var(--main-font);
      font-size: 1.3em;
      font-weight: 100;
    }
  }

  @include medium {
    flex-direction: column;
    gap: 2vw;

    &__parraf {
      margin: 50px 0;
      padding: 0 10%;

      p {
        font-family: var(--main-font);
        font-size: 1.6em;
        font-weight: 100;
      }
    }
  }

  @include large {
    flex-direction: row;
    gap: 2vw;

    &__parraf {
      padding: 0 5%;

      &:first-child {
        margin-top: -50px;
      }
      &:last-child {
        margin-top: 100px;
      }
    }
  }
}
