<app-banner [color]="'white'"
  ><app-title
    [title]="'Impulsamos a tu negocio hacia la transformación digital'"
  ></app-title>
</app-banner>

<div class="big-wrapper big-wrapper--black">
  <img src="" alt="" />
  <app-floating>
    <p class="subtitle subtitle--white">
      Aplicamos las mejores prácticas en el desarrollo de proyectos a medida.
    </p>
  </app-floating>
  <div class="big-wrapper__img">
    <img src="assets/img/code.jpg" alt="" />
  </div>
  <app-title
    [color]="'white'"
    [title]="
      'Creamos aplicaciones, webs y experiencias digitales para tus clientes'
    "
  ></app-title>
</div>

<app-banner [color]="'white'"
  ><app-title [title]="'Conecta'"></app-title>
  <div class="t-cols">
    <div class="t-cols__parraf" *ngFor="let i of info">
      <p>{{ i.describe }}</p>
    </div>
  </div>
</app-banner>
