@import "/src/styles/responsive";
@import "/src/styles/utils";

.big-wrapper {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow-y: visible;
  padding: var(--global-padding-xs);
  &__img {
    display: flex;
    justify-content: start;
    align-items: flex-start;

    img {
      width: 100%;
      padding: var(--global-padding-xs);
    }
  }

  @include medium {
    height: 120vh;
    img {
      width: 80%;
    }
  }

  @include large {
    justify-content: space-between;
    padding: var(--global-padding-xl);

    img {
      width: 50%;
    }
    height: auto;
  }

  &--black {
    background-color: black;
  }
}

.t-cols {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  width: 100%;
  gap: 5vw;

  img {
    width: 100%;
  }

  @include large {
    flex-direction: row;
    gap: 2vw;
  }
}
