

<div class="big-wrapper big-wrapper--black">
  <div></div>
  <app-floating>
    <p class="subtitle subtitle--white">
      Un equipo especializado en el desarrollo web, interfaces y aplicaciones móviles, identidad de marca y creación de startups.
    </p>
  </app-floating>
  <div class="big-wrapper__img">

  </div>
  <app-title
    [color]="'white'"
    [title]="
      'No solo hacemos desarrollo, sino que vivimos y respiramos cada proyecto como si fuera nuestro.'
    "
  ></app-title>
</div>

<app-banner [color]="'white'"
  >
  <div class="t-cols">
    <div class="t-cols__parraf" *ngFor="let i of info">
      <p [innerHTML]="i.describe"></p>
      <ul>
        <li *ngFor="let item of i.list"> {{item}}</li>
      </ul>
    </div>
  </div>
</app-banner>
