<div class="banner__main">

  <app-banner [color]="'white'"
    ><app-title [title]="title"></app-title>
  </app-banner>
</div>

<div class="info-block">
  <h2 class="info-block__heading">
    Somos un estudio de diseño web y desarrollo de aplicaciones centrado en tu
    proposito
  </h2>
  <div class="info-block__wrapper">
    <div class="info-block__column">
      Mucha gente subestima el poder de un gran diseño. La verdad es que hace
      falta algo más que una idea revolucionaria, una causa digna o unos
      productos extraordinarios para hacerse notar. <br /><br />
      En un oceano de páginas web, marketing y mucho ruido publicitario, sabemos
      que debes de destacar y elevar a tu organización y su mensaje sobre los
      demás, creemos que la mejor manera es con ayuda de la tecnología.
    </div>
    <div class="info-block__column">
      Establecemos el estándar de diseño excepcional de forma creativa, técnica,
      sostenible y ética para que tu empresa o producto digital pueda lograr el
      extraordinario impacto que busca.
    </div>
  </div>
</div>

<div class="solution">
  <div class="solution__card" *ngFor="let solution of solutions">
    <img
      class="solution__img skeleton"
      src="{{ solution.path }}"
      alt="{{ solution.name }}"
    />
  </div>
</div>

<div class="info-block">
  <img class="skeleton" src="assets/solutions/s2.jpg" alt="s1">
  <div class="info-block__wrapper">
<img src="assets/solutions/s1.jpg" alt="s1">
  </div>
</div>



<div class="info-block">
  <div class="info-block__wrapper">
    <div class="info-block__column">
      <h3 class="info-block__subheading"> Branding / UX - UI </h3>
      <p>Tu marca es una suma de experiencias, la interación con tus productos digitales es una de ellas. Tiempo de carga, interacción, animaciones, contenido, flujos. Todo ello ayuda a consolidar o destruir tu reputación.</p>
    </div>
    <div class="info-block__column">
      <h3 class="info-block__subheading"> Desarrollo Aplicaciones </h3>
     <p>Ya sea un MVP o una aplicación que saldrá a mercado próximamente, podemos ayudarete a desarrollar una solución a medida, adaptado a las necesidades de tu proyecto. priociramos la innovación con alta productividad.</p>
    </div>
    <div class="info-block__column">
      <h3 class="info-block__subheading"> Diseño web </h3>
      <p>Tu web es tu activo más valioso en internet, por ello debes de contar con un producto adaptado a tu público y actualizado a sus formas de navegar por la red.</p>
    </div>
  </div>
</div>


<div class="info-block">
  <div class="info-block__wrapper">
    <div class="info-block__column">
      <h3 class="info-block__subheading"> SEO Técnico </h3>
      <p>La parte del SEO que el departamento de marketing siempre olvida, aumenta las  posibilidades de optimización técnica de tu web. Código fuente, sistemas operativos y las configuraciones de servidor.</p>
    </div>
    <div class="info-block__column">
      <h3 class="info-block__subheading"> Aplicaciones Móviles </h3>
      <p>La creciente popularidad de los teléfonos inteligentes y las tabletas ha convertido el desarrollo de aplicaciones móviles una gran oportunidad para ofrecer valora tus clientes.</p>
    </div>
    <div class="info-block__column">
      <h3 class="info-block__subheading"> Consultoría </h3>
      <p>Identificar las vulnerabilidades qde tu empresa y los incumplimientos de las políticas de seguridad, es primordial para incrementar el nivel de protección y seguridad de toda la organización.</p>
    </div>
  </div>
</div>

<app-marquee [marqueeText]="'Consulta tu presupuesto sin compromiso hoy'"></app-marquee>
