@import "/src/styles/responsive";
@import "/src/styles/utils";
.banner {
  margin-top: -9vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include medium {
    height: 50vh;
  }

  @include large {
    height: 75vh;
  }
}
