@import "/src/styles/responsive";
@import "/src/styles/utils";
.banner {
  padding: var(--global-padding-xs);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;

  @include medium {
    height: auto;
  }

  @include large {
    padding: var(--global-padding-xl);
    height: auto;
  }
}
