
//COLORS
$color1: #07d85b;
$color2: #ffd60a;
$color3: #0055ff;
$color4: #7946f7;
$color5: #fb5607;


//unit SYSTEM
$unit: 8px;
$x2: calc(2*$unit);
$x3: calc(3*$unit);
$x4: calc(4*$unit);
$x5: calc(5*$unit);
$x6: calc(6*$unit);
$x7: calc(7*$unit);
$x8: calc(8*$unit);
$x9: calc(9*$unit);
$x10: calc(10*$unit);

